* {
    padding: 0;
    margin: 0;
}

div.content {
    width: 800px;
    height: 550px;
    border: 1px solid black;
    margin: 20px auto;
}

h1 {
    text-align: center;
    margin: 10px;
}

table {
    width: 90%;
    border-collapse: collapse;
    text-align: center;
    margin: 10px;
}

th, td {
    border: 1px solid black;
    height: 30px;
}

td:first-child {
    text-align: left;
}

tr:nth-child(even) {
    background-color: gray;
}

img {
    width: 400px;
    display: block;
    margin: 10px auto;
}
